Source: ros-groovy-fcl
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev, pkg-config, ros-groovy-catkin, ros-groovy-libccd, ros-groovy-octomap
Homepage: http://gamma.cs.unc.edu/FCL/
Standards-Version: 3.9.2

Package: ros-groovy-fcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev, ros-groovy-libccd, ros-groovy-octomap
Description: FCL is a collision checking library
